@import "../../node_modules/bootstrap/scss/functions";

$primary: #CC25F7;
$secondary: #fff;

:root {
  --bs-primary-text-emphasis: #fff;
}

.btn-primary.dropdown-toggle {
  color: #fff !important;
}

.dropdown-menu {
  color: #000; // например, чёрный текст в меню
}

@import "../../node_modules/bootstrap/scss/bootstrap";

.btn-primary {
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
}