* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #CC25F7;
  color: #fff;
}

h5 {
  margin: 0;
}

body {
  background: url("../assets/back.jpg");
}

.footer {
  background: white;
  color: #CC25F7;
  height: 56px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.playPause {
  transform: scale(0.6);
}

.playPause > path {
  fill: #d3d3d3;
  transition: 0.2s;
}

.playPause:hover > path {
  fill: #8c8c8c;
}

.playPause > rect {
  fill: #d3d3d3;
  transition: 0.2s;
}

.playPause:hover > rect {
  fill: #8c8c8c;
}

.prev {
  transform: rotate(180deg) scale(0.6);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotate {
  animation: spin 5s linear infinite;
}

.cover {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.default_cover {
  width: 100px;
  height: 100px;
}

.main {
  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 19px;
  background: #fff;
  border-radius: 25px;
  height: 700px;
  width: 70%;
  padding: 35px;
}

.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CC25F7 white;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CC25F7;
  border-radius: 10px;
  border: 2px solid white;
}

.like {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #d3d3d3;
  transition: .2s;
}

.like:hover {
  color: #ed2dd3;
}

.liked {
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: #ed2dd3;
}

.carousel-item-wrapper {
  position: relative;
  width: 200px;
  height: 150px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
}

.blurred-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(8px) brightness(0.4);
  z-index: 1;
  transform: scale(1.1);
}

.foreground-image {
  position: relative;
  z-index: 2;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.post_image {

}
